
<div class="spotlight-search" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
    <div class="input">
        <div class="loading-wrapper">
            <div class="loading">
                <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
            </div>
        </div>
        <input type="search"/>
        <span>Spotlight</span>
    </div><!--/.input -->
    <div class="results" data-ng-show="resultSet.length">
        <ul class="section no-preview">
            <li>
                <a href="#">
                    <span>Show All in Finder</span>
                    <div class="result"></div>
                </a>
            </li>
        </ul>

        <ul class="section lbl" data-ng-class="{'top-hit': $first}" data-ng-repeat="results in resultSet">
            <angular-spotlight-item item="item" data-ng-repeat="item in results.items"></angular-spotlight-item>
            <li>
                <a href="#">
                    <span>ng-conf</span>
                    <div class="result website">
                        <iframe class="page-display" src="http://www.ng-conf.org"  frameborder="0"></iframe>
                    </div>
                </a>
            </li>
           <li>
                <a href="#">
                    <span>yeoman-logo</span>
                    <div class="result image">
                        <img src="img/yeoman-logo.png" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>yeoman</span>
                    <div class="result image">
                        <img src="img/yeoman.gif" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>angular-spotlight</span>
                    <div class="result">
                        <i class="folder"></i>
                        <div class="details">
                            <div class="title">angular-spotlight</div>
                            <div class="type">Folder</div>
                            <div class="size">
                                <span>2 KB</span>
                                <span>2 items</span>
                            </div>
                            <div class="modified">Last modified Dec 22, 2013, 8:14:26 PM</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="section no-preview">
            <li>
                <a href="#">
                    <span>Spotlight Preferences...</span>
                    <div class="result"></div>
                </a>
            </li>
        </ul>
    </div><!--/.results -->
</div>

