<li ng-mouseenter="setActive(item)">
    <a href="#" data-ng-class="{active: item.$active}">
        <span>{{item.text}}</span>
        <div class="result" data-ng-switch="item.type">
            <div data-ng-switch-when="url">
                <div><iframe class="page-display" src="http://www.ng-conf.org"  frameborder="0"></iframe></div>
                <!--<iframe height="768" width="1024" style="-webkit-transform: scale(.39); margin: -235px 0 0 -312px;" ng-src="{{item.url}}"  frameborder="0"></iframe>-->
            </div>
        </div>
    </a>
</li>
