/* ------------ Base Styles ------------ */
body { padding: 0; margin: 0; background: #333; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-smooth: always; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

a { text-decoration: none; }

/* ------------ App Styles ------------ */
.header { height: 22px; background: linear-gradient(to bottom, white 0%, #c3c3c3 100%); -webkit-box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5); }
.header .menu-bar { list-style: none; margin: 0; padding: 0; }
.header .menu-bar li { float: left; }
.header .menu-bar li a { display: block; }
.header .menu-bar.icons { float: right; }
.header .menu-bar li { -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-smooth: always; font-weight: 400; font-size: 14px; line-height: 22px; height: 22px; }
.header .menu-bar li:last-of-type { margin-right: 10px; }
.header .menu-bar li:active a, .header .menu-bar li.active a { background: linear-gradient(to bottom, #7693f5 0%, #265af2 100%); color: #fff; }
.header .menu-bar li:active a i.icon, .header .menu-bar li.active a i.icon { background-image: url("../img/menu-icons_active.png"); }
.header .menu-bar li a { cursor: default; height: 22px; padding: 0 6px; color: #333; }
.header .menu-bar li a i.icon { background: url("../img/menu-icons.png"); height: 22px; width: 21px; display: inline-block; }
.header .menu-bar li a i.icon.notification { background-position: -105px 0; }
.header .menu-bar li a i.icon.spotlight { background-position: -84px  0; }
.header .menu-bar li a i.icon.volume { background-position: -63px  0; }
.header .menu-bar li a i.icon.wifi { background-position: -21px  0; }
.header .menu-bar li a i.icon.bluetooth { background-position: 0      0; }
.header .menu-bar li a:hover { text-decoration: none; }

.spotlight-search { margin: 1px 43px 0 0; width: 430px; float: right; }
.spotlight-search .input { background: linear-gradient(to bottom, #7693f5 0%, #265af2 100%); height: 33px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
.spotlight-search .input span { float: right; display: inline-block; color: #fff; font-weight: 700; font-size: 13px; text-shadow: 0 0px 2px rgba(0, 0, 0, 0.4); line-height: 32px; }
.spotlight-search .input i.loading { float: left; height: 16px; width: 16px; background: url("../img/loading.gif"); }
.spotlight-search .input input { float: right; margin: 4px 1em 0; padding: 5px 10px; border: 1px solid rgba(0, 0, 0, 0.6); width: 286px; -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em; }
.spotlight-search .input input:focus { outline-width: 0; }
.spotlight-search .results { font-size: 12px; margin: 0; background: url("../img/results-bg.gif") repeat-y right white; border: 1px solid #AAA; padding: 5px 0; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }
.spotlight-search .results ul.section { margin: 6px 0; padding: 0; list-style: none; }
.spotlight-search .results ul.section li a { padding: 0 0 0 125px; display: block; color: #333; line-height: 20px; }
.spotlight-search .results ul.section li a .result { display: none; position: absolute; margin: -75px 0 0 -565px; color: #000; border: 1px solid #AAA; background: linear-gradient(to bottom, #fdfdfd 0%, #eaeaea 100%); width: 400px; height: 120px; padding: 10px; opacity: 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.spotlight-search .results ul.section li a .result:after { content: ""; border-style: solid; border-color: transparent transparent transparent #F5F5F5; border-width: 12px; position: absolute; left: 420px; top: 52px; -webkit-filter: drop-shadow(1px 0 0 #888888); -moz-filter: drop-shadow(1px 0 0 #888888); -ms-filter: drop-shadow(1px 0 0 #888888); -o-filter: drop-shadow(1px 0 0 #888888); filter: drop-shadow(1px 0 0 #888888); }
.spotlight-search .results ul.section li a:hover { background: linear-gradient(to bottom, #7693f5 0%, #265af2 100%); color: #fff; text-decoration: none; }
.spotlight-search .results ul.section li a:hover .result { display: block; opacity: 1; }
.spotlight-search .results ul.section.no-preview li .result { display: none !important; }
.spotlight-search .results ul.section.lbl li:first-of-type:before { content: "label"; font-size: 11px; position: absolute; color: #8C8C8C; line-height: 20px; width: 100px; text-align: right; }
.spotlight-search .results ul.section.lbl li:hover:first-of-type:before { color: #fff; }
.spotlight-search .results ul.section.lbl.top-hit li:first-of-type:before { content: "Top Hit"; }
.spotlight-search .results ul.section.lbl.folders li:first-of-type:before { content: "Folders"; }
.spotlight-search .results ul.section.lbl.folders li a span { margin-left: 24px; }
.spotlight-search .results ul.section.lbl.folders li a:before { content: ""; position: absolute; background: url("../img/results-icons.png"); height: 16px; width: 16px; margin-top: 1px; }

.spinner-wrapper { position: absolute; z-index: 10; top: 80px; margin-left: 10px; }

.spinner { height: 16px; width: 16px; margin: -50px auto 0; opacity: 0.6; -webkit-animation: spin 0.8s steps(12, end) infinite; }
.spinner i { height: 5px; width: 2px; margin-left: 0px; display: block; background: #000; position: absolute; left: 45%; -webkit-transition: height 1s; -webkit-transform-origin: center 8px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.spinner i:nth-child(1) { opacity: 0.08; }
.spinner i:nth-child(2) { -webkit-transform: rotate(30deg); opacity: 0.167; }
.spinner i:nth-child(3) { -webkit-transform: rotate(60deg); opacity: 0.25; }
.spinner i:nth-child(4) { -webkit-transform: rotate(90deg); opacity: 0.33; }
.spinner i:nth-child(5) { -webkit-transform: rotate(120deg); opacity: 0.4167; }
.spinner i:nth-child(6) { -webkit-transform: rotate(150deg); opacity: 0.5; }
.spinner i:nth-child(7) { -webkit-transform: rotate(180deg); opacity: 0.583; }
.spinner i:nth-child(8) { -webkit-transform: rotate(210deg); opacity: 0.67; }
.spinner i:nth-child(9) { -webkit-transform: rotate(240deg); opacity: 0.75; }
.spinner i:nth-child(10) { -webkit-transform: rotate(270deg); opacity: 0.833; }
.spinner i:nth-child(11) { -webkit-transform: rotate(300deg); opacity: 0.9167; }
.spinner i:nth-child(12) { -webkit-transform: rotate(330deg); opacity: 1; }

@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); } }

.footer .copyright { margin: 0 0 0 1em; display: inline-block; }

/* ------------ Media Queries ------------ */
