$link:#000;

// we should use autoprefixer instead of the vendor prefix mixins
// https://github.com/ai/autoprefixer


@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
		 -moz-border-radius:$radius;
					border-radius:$radius;
}
@mixin box-shadow($box-shadow...) {
	-webkit-box-shadow:$box-shadow;
		 -moz-box-shadow:$box-shadow;
					box-shadow:$box-shadow;
}
@mixin drop-shadow($dropshadow) {
	-webkit-filter:drop-shadow($dropshadow);
		 -moz-filter:drop-shadow($dropshadow);
			-ms-filter:drop-shadow($dropshadow);
			 -o-filter:drop-shadow($dropshadow);
					filter:drop-shadow($dropshadow);
}
@mixin transition($transition) {
	-webkit-transition:$transition;
		 -moz-transition:$transition;
			-ms-transition:$transition;
			 -o-transition:$transition;
					transition:$transition;
}
@mixin box($box) {
	-webkit-box-sizing:$box;
		 -moz-box-sizing:$box;
					box-sizing:$box;
}
@mixin letterpress($opacity) {
	text-shadow:white($opacity) 0 1px 0;
}
@mixin font-smoothing {
	-webkit-font-smoothing:antialiased;
					font-smoothing:antialiased;
						 font-smooth:always;
}
@mixin ul-nav {
	list-style:none;
	margin:0;
	padding:0;
	li {
		float:left;
		a {display:block}
	}
}
@mixin menu-icon-sprite {
	background:url('../img/menu-icons.png');
	height:21px;
	width:23px
}
@mixin results-icon-sprite {
	background:url('../img/results-icons.png');
	height:16px;
	width:16px
}

/* ------------ Base Styles ------------ */
body {
	padding:0;
	margin:0;

	background:#434343;
	@include font-smoothing;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

a {text-decoration:none}

/* ------------ App Styles ------------ */

// header styles
.header {
	height:21px;
	background:linear-gradient(to bottom, #E5E5E5 0%,#A0A0A0 100%);
	@include box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 20px 3px rgba(0, 0, 0, 0.5), 0px 0px 0px 1px black);
	.menu-bar {
		@include ul-nav;
		&.icons {float:right}
		li {
			@include font-smoothing;
			font-weight:400;
			font-size:14px;
			line-height:21px;
			height:21px;
			&:last-of-type {margin-right:16px}
			&:active a,&.active a {
				background:linear-gradient(to bottom,#6485F5 0%,#275AF2 100%);
				color:#fff;
				i.icon {
					background-image:url('../img/menu-icons_active.png');
					@include drop-shadow(1px 1px rgba(255,255,255,0));
					&.spotlight:after {
						background:#1E4CE8;
						position:absolute;
						top:21px;
						content:"";
						width:36px;
						height:1px;
						margin-left:-11px;
					}
				}
			}
			a {
				cursor:default;
				height:21px;
				color:#000;
				&#clock {padding:0 7px 0 8px}
				i.icon {
					@include menu-icon-sprite;
					@include drop-shadow(1px 1px rgba(255,255,255,0.3));
					display:inline-block;
					&.notification {background-position:-582px    0;width:21px;padding:0 4px 0  5px}
					&.spotlight    {background-position:-547px    0;width:16px;padding:0 9px 0 11px}
					&.volume       {background-position:-516px    0;width:17px;padding:0 6px 0  7px}
					&.battery      {background-position:-361px    0;width:21px}
					&.wifi         {background-position:-412px -1px;width:23px;padding:0 3px 0 4px}
					&.bluetooth    {background-position:-382px    0;width:13px;padding:0 8px 0 9px}
				}
				&:hover {text-decoration:none}
			}
		}
	}
}

.spotlight-search {
	//margin-top:1px;
	//margin-right:46px;
	width:430px;
	//float:right;
	position: absolute;
	.input {
		background:linear-gradient(to bottom,#6485F5 0%,#275AF2 100%);
		height:30px;
		border-bottom:1px solid #1E4CE8;
		@include box-shadow(0 1px 0 rgba(0,0,0,0.5),0 4px 8px rgba(0,0,0,0.4));
		span {
			float:right;
			display:inline-block;
			color:#fff;
			font-size:13px;
			font-weight:700;
			text-shadow:0 0px 2px rgba(0,0,0,0.5);
			line-height:30px;
		}
		input {
			float:right;
			margin:4px 12px 0 15px;
			padding:4px 10px;
			border:1px solid #3E559F;
			width:291px;
			height:22px;
			line-height:12px;
			font-size:12px;
			@include border-radius(1em);
			&:focus {outline-width:0}
		}
	}
	// input end
	.results {
		font-size:12px;
		margin:0;
		background:url('../img/results-bg.gif') repeat-y right #fff;
		padding:0 0 5px 0;
		@include border-radius(0 0 5px 5px);
		@include box-shadow(inset 0 0 0 1px #B5B5B5, 0 4px 8px rgba(0, 0, 0, 0.2));
		ul.section {
			margin:0;
			padding:9px 0 0;
			list-style:none;
			li {
				a {
					padding:0 0 0 125px;
					display:block;
					color:#333;
					line-height:20px;
					cursor:default;
					// Item Results
					.result {display:none}
					// Item active
					&:hover,.active {
						background:linear-gradient(to bottom,#7693F5 0%,#265AF2 100%);
						color:#fff;
						text-decoration:none;
						.result {
							display:block;
							position:absolute;
							margin:-75px 0 0 -531px;
							color:#000;
							border:1px solid #B5B5B5;
							background:linear-gradient(to bottom,#FDFDFD 0%,#EAEAEA 100%);
							width:372px;
							height:120px;
							padding:10px;
							@include border-radius(5px);
							@include drop-shadow(0 0 10px rgba(0,0,0,0.2));
							@include box-shadow(inset 0 0 0 1px #fff);
							i {
								float:left;
								display:block;
								margin-right:10px;
								&.folder {
									@include results-icon-sprite;
									background-position:0 -16px;
									width:112px;
									height:90px;
								}
							}
							// Folder / File Results
							.details {
								float:left;
								div {
									margin:5px 0;
									&.title {font-size:16px;font-weight:700;margin-top:0}
									&.type {}
								}
							}
							// Website Results
							&.website {
								margin:-75px 0 0 -639px;
								width:500px;
								height:500px;
								padding:3px 0 0 0;
								.page-display {
									-webkit-transform: scale(.5); 
									width:990px;
									height:998px;
									position:absolute;
									margin:-50% 0 0 -50%;
									padding-left:6px;
									@include border-radius(10px);
								}
								&:after {left:499px}
							}
							// Image Results
							&.image {
								height:100%;
								width:385px;
								padding:2px 5px 3px 2px;
								img {
									border:1px solid #ccc;
									@include border-radius(3px);
									width:385px;
									height:auto;
								}
							}
							// Results arrow
							&:after {
								content:"";
								border-style:solid;
								border-color:transparent transparent transparent #F5F5F5;
								border-width:12px;
								position:absolute;
								left:391px;
								top:52px;
								@include drop-shadow(1px 0 0 #B5B5B5);
								@include box-shadow(inset 0 0 1px #000);
							}
						}


					}
//				.active {
//					background:linear-gradient(to bottom,#7693F5 0%,#265AF2 100%);
//					color:#fff;
//					text-decoration:none;
//					.result {
//						display:block;
//						opacity:1;
//					}
//				}
				}
			}
			// Items without result preview
			&.no-preview {
				padding:6px 0 0;
				li {
					a {
						line-height:17px;
						.result {display:none !important}
					}
				}
			}
			// Item type labels
			&.lbl {
				li {
					&:first-of-type:before {
						// Give the section a generic label as a placeholder
						content:"label";
						font-size:11px;
						position:absolute;
						color:#8C8C8C;
						line-height:20px;
						width:100px;
						text-align:right;
					}
					// Make sure the label text is white when it's hovered or active
					&:hover:first-of-type:before {color:#fff}
				}
				&.top-hit li:first-of-type:before {content:"Top Hit"}
				// Items that are "folders"
				&.folders {
					li {
						// Override "label" with "folders"
						&:first-of-type:before {content:"Folders"}
						a {
							> span {margin-left:24px}
							&:before {
								content:"";
								position:absolute;
								@include results-icon-sprite;
								margin-top:1px;
							}
						}
					}
				}
				// Items that are "websites"
				&.web {
					li {
						// Override "label" with "websites"
						&:first-of-type:before {content:"Websites"}
						a {
							span {margin-left:24px}
							&:before {
								content:"";
								position:absolute;
								@include results-icon-sprite;
								background-position:-16px 0;
								margin-top:1px;
							}
						}
					}
				}
				// Items that are "images"
				&.images {
					li {
						// Override "label" with "websites"
						&:first-of-type:before {content:"Images"}
						a {
							span {margin-left:24px}
							&:before {
								content:"";
								position:absolute;
								@include results-icon-sprite;
								background-position:-32px 0;
								margin-top:1px;
							}
						}
					}
				}
			}
		}
	}
}

// Loading spinner
.loading-wrapper {
	position:absolute;
	z-index:10;
	top:7px;
	margin-left:10px;
}
.loading {
	height:16px;
	width:16px;
	margin:0 auto;
	opacity:0.6;
	-webkit-animation: spin 0.5s steps(12, end) infinite;
	i {
		height:5px;
		width:2px;
		margin-left:0px;
		display:block;
		background:#000;
		position:absolute;
		left:45%;
		@include transition(height 1s);
		-webkit-transform-origin:center 8px;
		@include border-radius(15px);
		&:nth-child(1)  {opacity:0.08}
		&:nth-child(2)  {-webkit-transform:rotate(30deg); opacity:0.167}
		&:nth-child(3)  {-webkit-transform:rotate(60deg); opacity:0.25}
		&:nth-child(4)  {-webkit-transform:rotate(90deg); opacity:0.33}
		&:nth-child(5)  {-webkit-transform:rotate(120deg);opacity:0.4167}
		&:nth-child(6)  {-webkit-transform:rotate(150deg);opacity:0.5}
		&:nth-child(7)  {-webkit-transform:rotate(180deg);opacity:0.583}
		&:nth-child(8)  {-webkit-transform:rotate(210deg);opacity:0.67}
		&:nth-child(9)  {-webkit-transform:rotate(240deg);opacity:0.75}
		&:nth-child(10) {-webkit-transform:rotate(270deg);opacity:0.833}
		&:nth-child(11) {-webkit-transform:rotate(300deg);opacity:0.9167}
		&:nth-child(12) {-webkit-transform:rotate(330deg);opacity:1}
	}
}
@-webkit-keyframes spin { 
	from {-webkit-transform:rotate(0deg)}
		to {-webkit-transform:rotate(360deg)} 
}



