/* ------------ Base Styles ------------ */
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  font-family: "Lucida Grande"; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: underline; }

h1, h2, h3, h4, h5, p {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always; }

.clear {
  clear: both; }

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.transition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/* ------------ App Styles ------------ */
.header {
  height: 22px;
  background: linear-gradient(to bottom, white 0%, #c3c3c3 100%);
  -webkit-box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5); }
  .header .menu-bar {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header .menu-bar li {
      float: left; }
      .header .menu-bar li a {
        display: block; }
    .header .menu-bar.icons {
      float: right; }
    .header .menu-bar li {
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      font-smooth: always;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      height: 22px; }
      .header .menu-bar li:last-of-type {
        margin-right: 10px; }
      .header .menu-bar li:active a, .header .menu-bar li.active a {
        background: linear-gradient(to bottom, #7693f5 0%, #265af2 100%);
        color: #fff; }
        .header .menu-bar li:active a i.icon, .header .menu-bar li.active a i.icon {
          background-image: url("../img/menu-icons_active.png"); }
      .header .menu-bar li a {
        cursor: default;
        height: 22px;
        padding: 0 6px;
        color: #333; }
        .header .menu-bar li a i.icon {
          background: url("../img/menu-icons.png");
          height: 22px;
          width: 21px;
          display: inline-block; }
          .header .menu-bar li a i.icon.notification {
            background-position: -105px 0; }
          .header .menu-bar li a i.icon.spotlight {
            background-position: -84px  0; }
          .header .menu-bar li a i.icon.volume {
            background-position: -63px  0; }
          .header .menu-bar li a i.icon.wifi {
            background-position: -21px  0; }
          .header .menu-bar li a i.icon.bluetooth {
            background-position: 0      0; }
        .header .menu-bar li a:hover {
          text-decoration: none; }

.spotlight-search {
  margin: 1px 43px 0 0;
  width: 430px;
  float: right; }
  .spotlight-search .input {
    background: linear-gradient(to bottom, #7693f5 0%, #265af2 100%);
    height: 33px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
    .spotlight-search .input span {
      float: right;
      display: inline-block;
      color: #fff;
      font-weight: 700;
      font-size: 13px;
      text-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
      line-height: 32px; }
    .spotlight-search .input input {
      float: right;
      margin: 4px 1em 0;
      padding: 5px 10px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      width: 286px;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
      border-radius: 1em; }
      .spotlight-search .input input:focus {
        outline-width: 0; }
  .spotlight-search .results {
    font-size: 12px;
    margin: 0;
    background: url("../img/results-bg.gif") repeat-y right;
    border: 1px solid #AAA;
    padding: 5px 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }
    .spotlight-search .results ul.section {
      margin: 6px 0;
      padding: 0;
      list-style: none; }
      .spotlight-search .results ul.section li a {
        padding: 0 0 0 125px;
        display: block;
        color: #333;
        line-height: 20px; }
        .spotlight-search .results ul.section li a .result {
          display: none;
          position: absolute;
          margin: -75px 0 0 -565px;
          color: #000;
          border: 1px solid #AAA;
          background: linear-gradient(to bottom, #fdfdfd 0%, #eaeaea 100%);
          width: 400px;
          height: 120px;
          padding: 10px;
          opacity: 0;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px; }
          .spotlight-search .results ul.section li a .result:after {
            content: "";
            border-style: solid;
            border-color: transparent transparent transparent #F5F5F5;
            border-width: 12px;
            position: absolute;
            left: 420px;
            top: 52px;
            -webkit-filter: drop-shadow(1px 0 0 #888888);
            -moz-filter: drop-shadow(1px 0 0 #888888);
            -ms-filter: drop-shadow(1px 0 0 #888888);
            -o-filter: drop-shadow(1px 0 0 #888888);
            filter: drop-shadow(1px 0 0 #888888); }
        .spotlight-search .results ul.section li a:hover {
          background: linear-gradient(to bottom, #7693f5 0%, #265af2 100%);
          color: #fff;
          text-decoration: none; }
          .spotlight-search .results ul.section li a:hover .result {
            display: block;
            opacity: 1; }
      .spotlight-search .results ul.section.lbl li:first-of-type:before {
        content: "label";
        font-size: 11px;
        position: absolute;
        color: #8C8C8C;
        line-height: 20px;
        width: 100px;
        text-align: right; }
      .spotlight-search .results ul.section.lbl li:hover:first-of-type:before {
        color: #fff; }
      .spotlight-search .results ul.section.lbl.top-hit li:first-of-type:before {
        content: "Top Hit"; }
      .spotlight-search .results ul.section.lbl.folders li:first-of-type:before {
        content: "Folders"; }

.footer .copyright {
  margin: 0 0 0 1em;
  display: inline-block; }

/* ------------ Media Queries ------------ */
